/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "dashboard";

//$color-primary: white !default;
//$color-secondary: #666666 !default;
//$tab-text-color: white !default;
//$tab-active-text-color: white !default;
$grey: #6E6E6E;
$tab-highlight-color: $grey !default;

@import "material";

body {
  max-width: 400px;
  margin: 0 auto;
}

.mdl-tabs__panel {
  @extend .mdl-color-text--grey-600;
  padding: 15px;
  background: #F2F2F2;
}

.mdl-list__item {
  padding: 0px;
}

.mdl-tabs__tab-bar, .mdl-tabs__tab {
  height: 100%;
}
.mdl-tabs__tab-bar * {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1em;
  h6 {
    font-weight: 500;
  }
  p {
    color: $grey;
  }
}
.mdl-tabs__tab {
  border-right: 0.5px solid #F0F0F0;
  width: 100%;
  &:last-of-type {
    border-right: none;
  }
}

.category-card {
  width: 100%;
}

.chart {
  background: white;
  color: $grey;
}
